<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item <% if(title == "Home") { %> active <% } %>" >
        <a class="nav-link" href="/"><i class="fa fa-lg fa-home"></i> Home</a></li>

        <li class="nav-item <% if(title == "Games") { %> active <% } %>" >
        <a class="nav-link" href="/allSurvey"><i class="fa fa-lg fa-gamepad"></i> Survey List</a></li>

        <li class="nav-item <% if(title == "link") { %> active <% } %>" >
        <a class="nav-link" href="/newSurvey"><i class="fa fa-lg fa-square"></i> Add survey</a></li>

       <li class="nav-item <% if(title == "link") { %> active <% } %>" >
        <a class="nav-link" href="#"><i class="fa fa-lg fa-square"></i> Link</a></li>

        <li class="nav-item <% if(title == "link") { %> active <% } %>" >
        <a class="nav-link" href="#"><i class="fa fa-lg fa-square"></i> Link</a></li>


      </ul>
    </div>
  </nav>